html {
  scroll-behavior: smooth;
}

#mainBG {
    display: flex;
    flex-direction: row;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;      /* centra verticalmente */
    height: 100vh;  
    background-image: url(images/bg3.jpeg);
    background-size: cover;
}

.panel {
    flex: 1;             /* cada div ocupa el mismo ancho */
    display: flex;       /* para centrar el contenido */
    justify-content: center;
    align-items: center;
}

.split {
    flex-direction: column;
}

.title {
    font-family: "Homemade Apple", cursive;
    font-weight: 600;
    font-size: 50px;
}

.photo-swap {
    perspective: 1000px;
    width: 500px;
    height: 300px;
    position: relative;
}

.inner-swap {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.photo-swap:hover .inner-swap {
  transform: rotateY(180deg);
}

.photo-swap img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* oculta la cara trasera cuando no toca */
  object-fit: cover;
  border-radius: 10px;
}

/* la trasera va girada para que al rotar se vea */
.photo-swap #hover {
  transform: rotateY(180deg);
}

.button {
    height:16rem;
    margin: 0px;
    filter: drop-shadow(black 7px 6px);
}

.button:hover {
    height:17rem;
    filter: drop-shadow(blue 7px 6px);
    transform: rotate(-10deg);
}

button {
    height:16rem;
    background:url(/images/bio.png) no-repeat;
    cursor:pointer;
    border:none;
}

p {
   font-family: "Syne Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

pre {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
}

.hidden { 
    display: none; 
}

#exp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    padding-top: 40px;
    text-align: center;
    background-image: url(images/expbg3.jpg);
    background-size: cover;}

.split-row {
    display: flex;
    flex-direction: row;
    padding: 30px;
}


.pic {
    padding: 10px 50px 0px;
    height: 20rem;
    filter: drop-shadow(black 7px 6px);
}

.pic:hover {
    height:21rem;
    filter: drop-shadow(blue 7px 6px);
    transform: rotate(-10deg);
}
