@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Esta es una landing page</p>
<pre>Click Privacy para sentirte exclusivo.</pre>
</div>