@{
    ViewData["Title"] = "Pagina restringida";
}
<h1>@ViewData["Protected"]</h1>

@model AuthWebPage.Models.User

<h2>Bienvenido, @Model.Name!</h2>
<p>Correo: @Model.Email</p>
<p>Animal Favorito: @Model.FavAnimal</p>

<form method="post" asp-controller="Auth" asp-action="Logout">
    <button type="submit">Cerrar sesión</button>
</form>
